<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:classth="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Tilføj kommune</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <h1>Tilføj</h1>
  </div>
  <div class="row">
    <form action="/createKommune" method="post" th:object="${kommune}">
      <div class="form-group">
        <input class="form-control" type="text" name="navn" placeholder="Navn">
        <input class="form-control" type="number" name="kode" placeholder="Kommune kode">
      </div>
      <p id="space"></p>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" role="button">
      </div>
    </form>
  </div>
</div>
</body>
</html>